<div class="jumbotron">
  <div class="row">
    <%= image_tag "banner.png" %>
  </div>
  <div class="row">
    <div class="btn btn-primary"><%= t "app.jumbotron.introduce" %></div>
    <div class="btn btn-primary"><%= t "app.jumbotron.center_law" %></div>
    <div class="btn btn-primary"><%= t "app.jumbotron.news_law" %></div>
  </div>
</div>
