<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render "jumbotron" %>
    </div>
    <div class="col-md-4">
      <%= render "shared/search_box" %>
    </div>
  </div>
  <div class="row box-text">
    <div class="col-md-8">
      <%= render "box_text" %>
    </div>
  </div>
  <%= render "shared/face_chat" %>
</div>
