<div id="cfacebook">
  <a href="javascript:;" class="chat_fb" onclick="return false;">
    <%= fa_icon "facebook-square" %> 
    <%= t "app.chat_face" %>
  </a>
  <div class="fchat">
    <div class="fb-page" data-tabs="messages" 
      data-href="https://www.facebook.com/LKBC-1471216732971207/" 
      data-width="250" data-height="400" 
      size="standard"
      messenger_app_id="760099080830192"
      data-small-header="false" data-adapt-container-width="true" 
      data-hide-cover="false" data-show-facepile="true" 
      data-show-posts="false">
    </div>
  </div>
</div>
