<div id="cfacebook">
  <%= link_to "https://www.messenger.com/t/1886306581693215", 
    class: "chat_fb", target: "_blank" do %>
    <%= fa_icon "facebook-square" %> 
    <%= t "app.chat_face" %>
  <% end %>
</div>
