<div class="index">
  <div class="title"><%= t "app.index" %></div>
  <div class="content">
    <div class="chap">
      <div class="title">
        Chương 1
      </div>
      <div class="content">
        <div class="thing">
          Điều 1
        </div>
        <div class="thing">
          Điều 2
        </div>
        <div class="thing">
          Điều 3
        </div>
      </div>
    </div>
    <div class="chap">
      <div class="title">
        Chương 2
      </div>
      <div class="content">
        <div class="thing">
          Điều 4
        </div>
        <div class="thing">
          Điều 5
        </div>
        <div class="thing">
          Điều 6
        </div>
      </div>
    </div>
  </div>
</div>