<div class="text-much-view">
  <% @artciles_much_view = Article.search_article_much_view %>
  <div class="title"><%= t "app.text_much_view" %></div>
  <div class="content">
    <% @artciles_much_view.each do |article| %>
      <div class="item">
        <%= link_to article.title, "/articles/#{article.id}" %>
      </div>
    <% end %>
  </div>
</div>
