<div class="container">
  <div class="col-md-3">
    <%= render "shared/text_much_view" %>
    <%= render "shared/new_laws" %>
  </div>
  <div class="col-md-9">
    <%= render "news_all" %>
  </div>
  <%= render "shared/face_chat" %>
</div>
