$gray-lighter: #c1c1c1;
$gray-lighter-more: #eeeeee;
$blue-lighter: #318db7;

.box-text {
  margin-bottom: 45px;

  .box-content {
    margin-top: 5px;
    box-shadow: 1px 1px 1px 1px $gray-lighter;

    .tab-content {
      display: inline-block;
      width: 100%;
      
      .tab-pane {
        padding: 15px 20px;
        
        .item {
          margin-bottom: 10px;
          a{
            margin-left: 10px;
            
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .box-text {
    margin-top: 30px;
  }
}
