$gray-lighter: #c1c1c1;
$white: #fff;
$blue-lighter: #318db7;

#cfacebook {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 215px;
  background-color: $blue-lighter;
  color: $white;
  padding: 10px 15px;
  text-align: center;
  height: auto;
  box-shadow: 1px 1px 2px 2px $gray-lighter;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  
  a {
    color: $white;
    font-size: 1.2em;

    &:hover {
      text-decoration: none;
    }

    .fa {
      margin-right: 10px;
    }
  }
}
