$gray-lighter: #c1c1c1;
$white: #fff;
$black: #000;
$blue-lighter: #318db7;
$blue-more-lighter: #25b4f5;
$yellow-lighter: #d2810e;
$yellow-more-lighter: #f39d24;

@mixin title_style {
  padding: 8px;
  color: $white;
  font-weight: bold;
}

.index {
  box-shadow: 0 1px 1px 1px $gray-lighter;
  position: fixed;
  width: 190px;

  .title {
    @include title_style;
    background-color: $blue-lighter;
  }

  .content {
    overflow-y: scroll;
    height: 550px;

    a{
      color: $white;
      text-decoration: none;
    }

    .part_index {
      @include title_style;
      background-color: $blue-more-lighter;
    }

    .chapter_index {
      @include title_style;
      background-color: $yellow-lighter;
    }

    .section_index {
      @include title_style;
      background-color: $yellow-more-lighter;
    }

    .law_index {
      @include title_style;
      font-weight: normal;
      border-bottom: 1px solid $gray-lighter;

      a{
        color: $black;
      }
    }
  }
}

@media (max-width: 1315px) {
  .index {
    width: 150px;
    margin-left: 40px;
  }
}

@media (max-width: 1200px) {
  .index {
    margin-left: -20px;
  }
}

@media (max-width: 992px){
  .index {
    visibility: hidden;
  }
}
