$yellow-lighter: #eab05e;
$gray-lighter: #c1c1c1;
$white: #fff;

.search-box {
  display: inline-block;
  box-shadow: 1px 1px 2px 1px $gray-lighter;
  width: 100%;
  margin-bottom: 30px;

  .title {
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    color: $white;
    padding: 10px;
    font-weight: bold;
    background-color: $yellow-lighter;
  }

  .body {
    display: inline-block;
    padding: 10px;
    width: 100%;

    .text-search-box {
      padding-bottom: 10px;
    }

    .filter-list {
      label {
        font-weight: normal;
      }

      .search-term {
        display: inline-block;
        margin-right: 20px;
        #filter2 {
          margin-left: 20px;
        }
      }

      .search-in {
        display: inline-block;
        margin-top: 5px;

        .sub-title {
          padding-left: 10px;
          border-left: 3px solid $yellow-lighter;
          display: inline-block;
        }

        input{
          margin-left: 10px;
        }

        #group2 {
          display: inline-block;
        }
      }
    }

    button{
      width: 280px;
      margin-left: calc((100% - 280px) / 2);
      margin-top: 5px;
      text-align: center;
    }
  }
}
