$blue-lighter: #318db7;
$white: #fff;
$gray-lighter: #c1c1c1;

.text-much-view {
  box-shadow: 1px 1px 1px 1px $gray-lighter;

  .title{
    background-color: $blue-lighter;
    color: $white;
    padding: 10px;
  }

  .item{
    padding: 10px;
    border-bottom: 1px solid $gray-lighter;

    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}
